* {
  color: blue;
  font-weight: bolder;
  font-style: normal;
  font-size: large;
}
.productionReport {
    display: flex;
    width: 100%;
    justify-content: space-around;
    color: blue;
    font-weight: bolder;
    font-size: larger;
  }
  .background {
    background-image: url("./background1.jpg");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
  }

  .section1 {
    width: 30%;
  }
  .section2 {
    width: 50%;
  }
  #results1 {
    margin-top: 70px;
  }
  form div {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  form div label {
    font: 30px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .button {
     /*width: 50%; */
    margin-top: 10px;
    /* height: 0px; */
    border: 1px;
    border-radius: 10px;
    background-color: brown;
    color: white;
    font-size: 20px;
  }
  #sum1 {
    display: none;
  }
  #sum2 {
    display: none;
  }
  #sum3 {
    display: none;
  }
  #sum4 {
    display: none;}
    .summary{
      color: blue;
    }