.productionReport{
    width: 100%;
    justify-content: space-around;
    display: flex;
}

.section1{
    width: 35%;
}
.section2 {
    width: 50%;
}
#output1 {
    margin-top: 70px;
}
.myContainer{
    display: flex;
    flex-direction: column;
font-family: 'Times New Roman', Times, serif;
}
#sum1{
    display:none;
}
#sum2{
    display: none;
}
#sum3{
    display: none;
}
#sum4{
    display: none;
}

.section2{

} 